/* Google Font Link */
@import url('https://fonts.googleapis.com/css3?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
  /* ===== Colors ===== */
  --body-color: #f5f3d6;
  --sidebar-color: #FFF;
  --primary-color: #eb5cfe;
  --primary-color-light: #eaa2f3;
  --toggle-color: #eaa2f3;
  --text-color: #707070;
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* MAIN */

body{
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins' , sans-serif;
  z-index: 0;
}

.main-container{
  margin-left: 5%;
  width: 92vw;  
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s; 
}

.main-alt-size{
  width: 84vw; 
  margin-left: 13%;
  transition: 0.2s; 
}

.btn-pet{
  background-color: var(--primary-color);
}

.btn-pet:hover{
  background-color: var(--primary-color-light) !important;
}
/* CONTAINER */
.container-card{
  width: 100%;
  height: 95%;
  background-color: white;
  border-radius: 10px;
}

.containers-card{
  width: 100%;  
  padding: 20px;
}

.header-card{
  width: 100%;
  height: 8%;
  padding: 20px; 
}

.actions-list{
  display: flex;
  justify-content: space-around;
}

.text-container-header-card{
  font-size: 25px;
}

.modal-body{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* COMANDOS PARA RESPONSIVIDADE */
@media screen and (max-width: 1600px){
  .main-container{
    width: 90vw;
    margin-left: 6%;
  }
}

@media screen and (max-width: 1380px){
  .main-container{
    margin-left: 7%;
  }
}

@media screen and (max-width: 1180px){
  .main-container{
    margin-left: 8%;
  }
}

@media screen and (max-width: 1080px){
  .main-container{
    width: 88vw;
    margin-left: 9%;
  }
}